@import "tailwindcss";

@theme {
  --color-brand-primary: #0f172a;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}
